#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

body {
  background-image: url(assets/box.png);
  background-color: #DBE6F2;
  margin: 0 auto;
}

.box {
  background-image: url(assets/box.png);
}

.centerForm {
  margin: 0 auto;
  padding: 90px;
  background-color: white;
  border-radius: 25px;
  display: inline-block;
  filter: drop-shadow(0px 0px 5px black);
}

.login {
  background-color: #9BC1E8;
  color: #4A74A7;
  margin-top: 20px;
  width: 100%;
}

.transactPro{
  display: flex;
  color: #48688A;
}

input {
  height: 30px;
  background-color:white;
  margin: 10px;
  color: #4A74A7;
  border: solid #9BC1E8;
  width: 90%;
}

.checker{
  margin: 0 auto;
  border: solid black 1px;
}

.linkDiv{
  text-align: right;
}

.link {
  cursor: pointer;
}